<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->

<!--</head>-->
<!--<body>-->
<!--<h1>Create new user</h1>-->

<!--<form th:method="POST" th:action="@{/admin}" th:object="${user}">-->
<!--    <label for="firstname">First Name</label>-->
<!--    <input type="text" th:field = "*{firstname}" id="firstname"/>-->
<!--    <br>-->
<!--    <label for="lastname">First Name</label>-->
<!--    <input type="text" th:field = "*{lastname}" id="lastname"/>-->
<!--    <br>-->
<!--    <label for="age">Age</label>-->
<!--    <input type="text" th:field = "*{age}" id="age"/>-->
<!--    <br>-->
<!--    <label for="email">Email</label>-->
<!--    <input type="text" th:field = "*{email}" id="email"/>-->
<!--    <br>-->
<!--    <label for="password">Password</label>-->
<!--    <input type="text" th:field = "*{password}" id="password"/>-->
<!--    <br>-->

<!--    <label for="roles">Role</label>-->
<!--    <select th:field = "*{roles}" multiple="multiple" id="roles">-->
<!--        <option th:value="ROLE_USER"> USER </option>-->
<!--        <option th:value="ROLE_ADMIN"> ADMIN </option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <input type="submit" value = "Add new user"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->